html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;

    background-image: url("/img/okayu.webp");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

div.text {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 6vw;

    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.3vw;

    animation: shake 0.1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(2px, 2px) rotate(0deg);
    }

    10% {
        transform: translate(-2px, -3px) rotate(-1deg);
    }

    20% {
        transform: translate(-4px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(4px, 3px) rotate(0deg);
    }

    40% {
        transform: translate(2px, -2px) rotate(1deg);
    }

    50% {
        transform: translate(-2px, 3px) rotate(-1deg);
    }

    60% {
        transform: translate(-4px, 2px) rotate(0deg);
    }

    70% {
        transform: translate(4px, 2px) rotate(-1deg);
    }

    80% {
        transform: translate(-2px, -2px) rotate(1deg);
    }

    90% {
        transform: translate(2px, 3px) rotate(0deg);
    }

    100% {
        transform: translate(2px, -3px) rotate(-1deg);
    }
}